/* public/css/style.css */
body { 
    font-family: 'Segoe UI', sans-serif; 
    background: #2D333B; 
    color: #1f2937; 
    margin:0; 
}
body::selection {
    background-color: black;
    color: white;
}
.logo {
fill: white;
}
.rass {
    color: white;
}
.navbar { 
    background: #1C2128; 
    color: white; 
    padding: 1rem 2rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    animation: none;
    transition: none;
    position: relative;
}
.navbar::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgb(41, 84, 149) 25%, rgb(71, 106, 159) 75%, rgb(41, 84, 149) 100% )
}
.navbar a, .navbar button { 
    color: white; 
    text-decoration: none; 
    background: none; 
    border: none; 
    font-size: 1rem; 
    cursor: pointer; 
    margin-left: 15px;
    position: relative;
}
.navbar a::after,
.navbar button::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: opacity 0.5s ease;
    visibility: hidden;
    opacity: 0;
}
.navbar a:hover::after,
.navbar button:hover::after {
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.container { 
    max-width: 1200px; 
    margin: 2rem auto; 
    padding: 0 1rem; 
    animation: animePage 1s ease-out;
}
.card { 
    background: #22272E;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
    color: #F0F6FC;
}
.btn { 
    padding: 8px 16px; 
    border-radius: 4px; 
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    display:inline-block; }
.btn-primary { 
    background: #4f46e5; 
    color: white; 
    border-radius: 15px;
    border :none;
    padding: 6px 15px;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px; 
    box-sizing: border-box;
}
th, td { 
    padding: 12px; 
    border-bottom: 1px solid #e5e7eb; 
    text-align: left; 
    box-sizing: border-box;
}
.space form select {
    margin-left: 8px;
}
.space form button {
    margin-left: 8px;
}
th { background: #22272E; }
.form-group { margin-bottom: 15px; }
input, select, textarea { 
    width: 100%;
    background-color: rgb(99, 98, 98); 
    padding: 8px; 
    border: 1px solid black; 
    border-radius: 4px; 
    box-sizing: border-box; }
.btn-success { 
    background: #22c55d; 
    color: white; 
    border-radius: 15px;
    border :none;
    padding: 6px 12px
}
.btn-danger { 
    background: #ef4444; 
    color: white; 
    border-radius: 15px;
    border :none;
    padding: 6px 12px;
}
.btn:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}
.email input:focus,
.mt-4 input:focus,
.name input:focus{
    border: 1px solid #ccc;
    outline: none;
    caret-color: #ccc;
    color: white;
}
.block .mt-4 input{
    transform: translate(-10%, -10%)
}
.end {
    display: flex;
    flex-wrap: nowrap;
}
.ml-3,
.ml-4 {
    display: block;
    width: 50%;
    margin: 0px auto;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    transition: all 0.8s ease-in-out;
    color: black;
    background: gray;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
}
.ml-3:hover,
.ml-4:hover,
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
    background: #22272E;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    box-shadow:  0 0px 0px 1px rgba(255, 255, 255, 0.5);
}
@keyframes animePage {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.rajae {
    transform: translateY(-5%)
}
.mt-4 a {
    color: white;
}
.level {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.anoInp input,
.anoInp select,
.anoInp textarea {
    color: white;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
    color: white;
    opacity: 0.7;
}




